ECHOPOINT_BASE_URL=https://apidev.echopoint.dev
ECHOPOINT_ORGANIZATION_ID=org_XXXXXXXXXXXX
ECHOPOINT_RUNNER_API_KEY=nanostack_org_apikey_runner_xxxxx
ECHOPOINT_RUNNER_ID=runner-local-dev
ECHOPOINT_MAX_PARALLEL_FLOWS=1
ECHOPOINT_HEARTBEAT_INTERVAL=10s
ECHOPOINT_REQUEST_TIMEOUT=45s
ECHOPOINT_IDLE_BACKOFF=1s
ECHOPOINT_ERROR_BACKOFF=3s
ECHOPOINT_SHUTDOWN_GRACE_PERIOD=45s
ECHOPOINT_LOG_LEVEL=info
ECHOPOINT_LOG_FORMAT=human
